img {
  width: 500px;
}

select{
  text-align-last:center;
  direction: center;
}

.logo {
  width: 60%;
  margin-top: 5px;
}

.logo2 {
  width: 150px;
}

.form-group {
  margin: 35px;
}

.question {
  font-size: 25px;
  font-weight:500;
}

.leadership {
  font-size: 20px;
  font-weight:500;
  color: black;
}

.hide {
  display: none;
}

.contact {
  width: 200px;
  margin: 20px;
}

.link {
  text-decoration: none;
  color: gray;
}
.logoSmall {
  width: 150px;
}

.green {
  color: green;
  font-size: 100px;
  box-shadow: 0px 0px 10px green; 
  border-radius: 50px;
}

.red {
  color: red;
  font-size: 100px;
  box-shadow: 0px 0px 10px red; 
  border-radius: 50px;
}

.gray {
  color: rgb(49, 49, 49);
}